Repository Avaiga/taipy-gui, pull requests merged in 2022-12, with the labels that each got.

#506 chart theming (#505)
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/renderers/factory.py
Labels: 📈 Improvement, GUI: Front-End

#508 map choropleth (#507)
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/renderers/builder.py
Labels: 📈 Improvement, GUI: Front-End

#510 Marker symbol as column (#509)
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/renderers/builder.py
Labels: 📈 Improvement, GUI: Front-End

#512 #511 do not rotate data of array of array
  src/taipy/gui/data/array_dict_data_accessor.py
  src/taipy/gui/data/pandas_data_accessor.py
  tests/taipy/gui/data/test_array_dict_data_accessor.py
Labels: Gui: Back-End, 💥Malfunction

#527 Paginated table properties (#525 #526)
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/factory.py
  tests/taipy/gui/control/test_table.py
  tests/taipy/gui/e2e/test_accessor_data_format.py
  tests/taipy/gui/gui_specific/test_expression.py
  tests/taipy/gui/server/ws/test_du.py
Labels: Gui: Back-End, GUI: Front-End, 💥Malfunction, 🟩 Priority: Low

#532 column with no name and rowIndex when sorted
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/tableUtils.tsx
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/renderers/json.py
Labels: Gui: Back-End, GUI: Front-End, 💥Malfunction, 🟩 Priority: Low

#539 less default cols (#538)
  src/taipy/gui/renderers/builder.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#544 #543 array of dicts as charts data
  src/taipy/gui/data/array_dict_data_accessor.py
  tests/taipy/gui/data/test_array_dict_data_accessor.py
Labels: 📈 Improvement, Gui: Back-End, 🟩 Priority: Low

#546 funnel area (#545)
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
  gui/src/components/Taipy/utils.ts
  src/taipy/gui/renderers/builder.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟩 Priority: Low

#548 #547 lon runnning return value
  gui/doc/viselements.json
  src/taipy/gui/gui_actions.py
Labels: 📈 Improvement, Gui: Back-End, 🟩 Priority: Low

#518 fix invoke callback missing context
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#552 #551 densitymapbox z lost in translation
  src/taipy/gui/renderers/builder.py
Labels: Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#553 Fix - Misuse of NotImplemented
  src/taipy/gui/data/utils.py
  src/taipy/gui/extension/library.py
  src/taipy/gui/utils/types.py
  tests/taipy/gui/utils/test_types.py
Labels: 💥Malfunction
