Repository Avaiga/taipy-gui, pull requests merged in 2022-07, with the labels that each got.

#308 upgrade react to v18 (#173)
  .github/workflows/test.yml
  gui/package-lock.json
  gui/package.json
  gui/src/components/Router.tsx
  gui/src/components/Taipy/Alert.tsx
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/Button.spec.tsx
  gui/src/components/Taipy/Chart.spec.tsx
  gui/src/components/Taipy/DateSelector.spec.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/Dialog.spec.tsx
  gui/src/components/Taipy/FileDownload.spec.tsx
  gui/src/components/Taipy/FileSelector.spec.tsx
  gui/src/components/Taipy/GuiDownload.spec.tsx
  gui/src/components/Taipy/Image.spec.tsx
  gui/src/components/Taipy/Input.spec.tsx
  gui/src/components/Taipy/Input.tsx
  gui/src/components/Taipy/Menu.spec.tsx
  gui/src/components/Taipy/NavBar.spec.tsx
  gui/src/components/Taipy/NavBar.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/Pane.spec.tsx
  gui/src/components/Taipy/Selector.spec.tsx
  gui/src/components/Taipy/Selector.tsx
  gui/src/components/Taipy/Slider.tsx
  gui/src/components/Taipy/Status.spec.tsx
  gui/src/components/Taipy/StatusList.spec.tsx
  gui/src/components/Taipy/StatusList.tsx
  gui/src/components/Taipy/ThemeToggle.spec.tsx
  gui/src/components/Taipy/Toggle.spec.tsx
  gui/src/components/Taipy/TreeView.spec.tsx
  gui/src/components/Taipy/TreeView.tsx
  gui/src/components/Taipy/UIBlocker.spec.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/index.tsx
  setup.py
Labels: enhancement, Front-End

#322 Integrate RDP algorithm into chart filtering (#321)
  Pipfile
  gui/src/components/Taipy/Chart.tsx
  gui/src/context/taipyReducers.ts
  setup.py
  taipy/gui/_default_config.py
  taipy/gui/config.py
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/data/utils.py
  taipy/gui/renderers/factory.py
  taipy/gui/utils/rdp.py
  tests/taipy/gui/gui_specific/test_df_filter.py
Labels: Front-End

#325 #323 add a version parameter to the request
  gui/src/components/pages/TaipyRendered.tsx
Labels: bug, Front-End

#324 table filters (#27)
  gui/doc/table.csv
  gui/package-lock.json
  gui/src/components/Router.tsx
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/DateSelector.spec.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/TableFilter.spec.tsx
  gui/src/components/Taipy/TableFilter.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/context/taipyReducers.ts
  gui/src/utils/index.ts
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/renderers/builder.py
  taipy/gui/renderers/factory.py
  tests/taipy/gui/data/test_pandas_data_accessor.py
Labels: enhancement, Front-End

#334 #329 extension backend
  .gitignore
  gui/public/index.html
  taipy/gui/data/pandas_data_accessor.py
  taipy/gui/extension/__init__.py
  taipy/gui/extension/user_element.py
  taipy/gui/gui.py
  taipy/gui/renderers/_html/factory.py
  taipy/gui/renderers/_html/parser.py
  taipy/gui/renderers/_markdown/control.py
  taipy/gui/renderers/_markdown/factory.py
  taipy/gui/renderers/_markdown/preproc.py
  taipy/gui/renderers/builder.py
  taipy/gui/renderers/factory.py
  taipy/gui/server.py
  taipy/gui/types.py
  tests/taipy/gui/extension/test_library.py
Labels: Enhancement, Front-End

#338 #337 give a better message on TaipyNumber exception
  taipy/gui/utils/types.py
  tests/taipy/gui/utils/test_types.py
Labels: Enhancement, Front-End

#340 #337 get a readable name: module.name
  taipy/gui/utils/types.py
  tests/taipy/gui/utils/test_types.py
Labels: Enhancement, Front-End

#342 manage version (#332)
  .github/workflows/publish.yml
  .github/workflows/release.yml
  MANIFEST.in
  gui/.gitignore
  gui/package-lock.json
  gui/package.json
  gui/public/index.html
  gui/src/components/Router.tsx
  gui/src/components/pages/TaipyRendered.tsx
  gui/src/utils/index.ts
  gui/tsconfig.json
  gui/webpack.config.js
  setup.py
  src/taipy/gui/gui.py
  src/taipy/gui/server.py
  src/taipy/gui/version.json
Labels: Enhancement, Front-End

#344 Minor doc changes and fixes.
  gui/doc/chart.csv
  gui/doc/status.md
  gui/doc/table.md
  src/taipy/gui/gui.py
Labels: Documentation
