Repository Avaiga/taipy-gui, pull requests merged in 2023-07, with the labels that each got.

#821 Backtrack Pandas upgrade
  Pipfile
  setup.py
Labels: 🟥 Priority: Critical, 🖧 Devops, 💥Malfunction

#823 #822 handle filters on column change
  gui/src/components/Router.tsx
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/TableFilter.spec.tsx
  gui/src/components/Taipy/TableFilter.tsx
  gui/src/extensions/exports.ts
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#830 ignore shift-alt-ctrl keys with on_action (#824)
  gui/src/components/Taipy/Input.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#831 #824 backport multiline support for shift enter
  gui/src/components/Taipy/Input.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟨 Priority: Medium, 📝Release Notes

#833 Upgrade Pandas dependency to version 2.0
  Pipfile
  setup.py
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖧 Devops

#834 simplify page scopes file path resolution
  src/taipy/gui/page.py
Labels: 📈 Improvement, Gui: Back-End, 🟩 Priority: Low, 📝Release Notes

#840 Gui when used by the Enterprise edition does not find the main CSS file
  .github/workflows/prefix-test.yml
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#836 Extension: Library.on_init() must be invoked earlier
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
Labels: 📈 Improvement, Gui: Back-End, 🟨 Priority: Medium

#842 table filter index (#835)
  src/taipy/gui/data/pandas_data_accessor.py
  tests/taipy/gui/data/test_pandas_data_accessor.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#844 backport css file and filtered table index (#838 #835)
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
  tests/taipy/gui/data/test_pandas_data_accessor.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#816 Class Modules (#690)
  .github/workflows/setuptools.yml
  src/taipy/gui/gui.py
  src/taipy/gui/page.py
  src/taipy/gui/partial.py
  src/taipy/gui/renderers/__init__.py
  src/taipy/gui/state.py
  src/taipy/gui/utils/proxy.py
  tests/taipy/gui/e2e/page_scopes/assets2_class_scopes/__init__.py
  tests/taipy/gui/e2e/page_scopes/assets2_class_scopes/page1.md
  tests/taipy/gui/e2e/page_scopes/assets2_class_scopes/page1.py
  tests/taipy/gui/e2e/page_scopes/assets2_class_scopes/page2.md
  tests/taipy/gui/e2e/page_scopes/assets2_class_scopes/page2.py
  tests/taipy/gui/e2e/page_scopes/assets3_class_scopes/__init__.py
  tests/taipy/gui/e2e/page_scopes/assets3_class_scopes/page1.py
  tests/taipy/gui/e2e/page_scopes/test_class_scopes_binding_global.py
  tests/taipy/gui/e2e/page_scopes/test_class_scopes_main_var_access.py
Labels: 📄 Documentation, 📈 Improvement, Gui: Back-End, 🟧 Priority: High, 📝Release Notes

#850 Add multiple page modules from folder
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/get_page_from_module.py
Labels: 🟧 Priority: High, ✨New feature, 📝Release Notes, python

#862 #861 camel case default property name
  src/taipy/gui/renderers/builder.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#870 backport index column for table data + pandas + version (#866)
  Pipfile
  gui/dom/package.json
  gui/package.json
  gui/packaging/package.json
  setup.py
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/version.json
  tests/taipy/gui/data/test_array_dict_data_accessor.py
  tests/taipy/gui/data/test_pandas_data_accessor.py
  tests/taipy/gui/server/ws/test_du.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#869 index column for table data (#866)
  src/taipy/gui/data/pandas_data_accessor.py
  tests/taipy/gui/data/test_array_dict_data_accessor.py
  tests/taipy/gui/data/test_pandas_data_accessor.py
  tests/taipy/gui/server/ws/test_du.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#872 Use date picker when editing date column (#797 #867)
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/utils/index.ts
Labels: 📈 Improvement, GUI: Front-End, 🟧 Priority: High, 📝Release Notes

#874 backport: date picker when editing date column (#797 #867)
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/utils/index.ts
  src/taipy/gui/viselements.json
Labels: 📈 Improvement, GUI: Front-End, 🟧 Priority: High, 📝Release Notes

#871 copy dataframe but only once (#866)
  .github/workflows/test.yml
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/data/utils.py
  src/taipy/gui/viselements.json
  tests/taipy/gui/gui_specific/test_df_filter.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#876 backport: copy dataframe but only once (#866)
  .github/workflows/test.yml
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/data/utils.py
  tests/taipy/gui/gui_specific/test_df_filter.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#877 update package.lock.json
  gui/package-lock.json
Labels: 🟥 Priority: Critical, 🖧 Devops, GUI: Front-End, 💥Malfunction
