Repository Avaiga/taipy-gui, pull requests merged in 2023-02, with the labels that each got.

#597 #586 use label and width for non dropdown selector
  gui/dom/package.json
  gui/package.json
  gui/packaging/package.json
  gui/src/components/Taipy/Selector.tsx
  src/taipy/gui/version.json
Labels: GUI: Front-End, 💥Malfunction

#603 dependabot plotly d3
  gui/package-lock.json
  gui/package.json
Labels: 📈 Improvement, GUI: Front-End, 🟩 Priority: Low

#607 Bug: Module resolution for root page on other pages
  src/taipy/gui/config.py
  src/taipy/gui/gui.py
Labels: 💥Malfunction

#605 Remove Markdown from elements doc (#604)
  gui/doc/viselements.json
Labels: 📄 Documentation, 💥Malfunction, 🟩 Priority: Low

#609 Remove Markdown from elements doc (#604)
  gui/doc/viselements.json
Labels: 📄 Documentation, 🖰 GUI

#598 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-improvement.md
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: 🖧 Devops

#611 Build process documentation for contributors (#372)
  INSTALLATION.md
  setup.py
Labels: 📄 Documentation, GUI: Front-End

#613 Build process documentation for contributors (#372)
  INSTALLATION.md
Labels: 📄 Documentation

#614 #529 allow for dynamic definition of columns
  gui/doc/viselements.json
  gui/dom/package-lock.json
  gui/package-lock.json
  gui/packaging/taipy-gui.d.ts
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/Table.spec.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/utils/hooks.ts
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/utils.py
  src/taipy/gui/utils/_evaluator.py
  src/taipy/gui/utils/_variable_directory.py
  tests/taipy/gui/control/test_table.py
  tests/taipy/gui/gui_specific/test_expression.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟧 Priority: High

#618 Improve rebuild property (#617)
  gui/src/utils/hooks.ts
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/builder.py
  tests/taipy/gui/control/test_table.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟧 Priority: High

#623 Circular Progress management (#610 + #601)
  gui/src/context/taipyReducers.ts
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/_markdown/preproc.py
  tests/taipy/gui/e2e/test_timezone.py
Labels: 📈 Improvement, Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#620 theme & css stylekit (#572 #624)
  gui/package-lock.json
  gui/package.json
  gui/public/index.html
  gui/public/stylekit/base/base.css
  gui/public/stylekit/base/fontfaces.css
  gui/public/stylekit/base/typography.css
  gui/public/stylekit/blocks/layout.css
  gui/public/stylekit/components/card.css
  gui/public/stylekit/components/container.css
  gui/public/stylekit/components/header.css
  gui/public/stylekit/components/sidebar.css
  gui/public/stylekit/controls/button.css
  gui/public/stylekit/controls/date.css
  gui/public/stylekit/controls/expandable.css
  gui/public/stylekit/controls/image.css
  gui/public/stylekit/controls/navbar.css
  gui/public/stylekit/controls/slider.css
  gui/public/stylekit/controls/toggle.css
  gui/public/stylekit/stylekit.css
  gui/public/stylekit/utilities/colors.css
  gui/public/stylekit/utilities/misc.css
  gui/public/stylekit/utilities/spacing.css
  gui/public/stylekit/utilities/typography.css
  gui/public/stylekit/variables/components.css
  gui/public/stylekit/variables/misc.css
  gui/public/stylekit/variables/shapes.css
  gui/public/stylekit/variables/spacing.css
  gui/public/stylekit/variables/typography.css
  gui/src/components/Taipy/Selector.tsx
  gui/src/components/Taipy/ThemeToggle.tsx
  gui/src/components/Taipy/Toggle.tsx
  gui/src/components/Taipy/TreeView.tsx
  gui/src/components/Taipy/lovUtils.tsx
  gui/src/context/taipyReducers.ts
  gui/src/themes/stylekit.ts
  gui/src/utils/index.ts
  src/taipy/gui/_default_config.py
  src/taipy/gui/config.py
  src/taipy/gui/gui.py
  src/taipy/gui/server.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/html.py
  tests/taipy/gui/e2e/renderers/test_html_rendering.py
  tests/taipy/gui/helpers.py
Labels: Gui: Back-End, GUI: Front-End, ✨New feature, 🟩 Priority: Low

#636 #630 change Fab to button
  gui/src/components/Taipy/FileDownload.spec.tsx
  gui/src/components/Taipy/FileDownload.tsx
  gui/src/components/Taipy/FileSelector.spec.tsx
  gui/src/components/Taipy/FileSelector.tsx
  gui/src/themes/stylekit.ts
  src/taipy/gui/data/content_accessor.py
  src/taipy/gui/renderers/builder.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟨 Priority: Medium
