Repository Avaiga/taipy-gui, pull requests merged in 2023-09, with the labels that each got.

#905 Add the range selection capability to the slider element
  Pipfile
  gui/dom/package-lock.json
  gui/packaging/taipy-gui.d.ts
  gui/src/components/Taipy/Slider.spec.tsx
  gui/src/components/Taipy/Slider.tsx
  gui/src/components/Taipy/tableUtils.tsx
  pytest.ini
  setup.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/factory.py
  src/taipy/gui/types.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/types.py
  src/taipy/gui/viselements.json
  tests/taipy/gui/control/test_slider.py
  tox.ini
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High, 📝Release Notes

#911 Missing values in pandas
  gui/src/components/Taipy/tableUtils.tsx
  src/taipy/gui/data/pandas_data_accessor.py
Labels: 🟥 Priority: Critical, Gui: Back-End, GUI: Front-End, 💥Malfunction, 📝Release Notes

#912 #883 keyword argument repeated
  src/taipy/gui/renderers/_class_api/element_api_generator.py
  src/taipy/gui/renderers/builder.py
Labels: 🟥 Priority: Critical, Gui: Back-End, 💥Malfunction, 📝Release Notes

#901 fix(stylekit): normalize the height of the taipy selector dropdown between multiple and single options
  gui/src/themes/stylekit.ts
Labels: GUI: Front-End

#915 toggle as navbar (#592)
  gui/public/stylekit/controls/toggle.css
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#918 unselect long option (#917)
  gui/package-lock.json
  gui/package.json
  gui/src/components/Taipy/Selector.tsx
  gui/src/workers/fileupload.ts
  src/taipy/gui/renderers/builder.py
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction, 📝Release Notes

#920 file_download: on_action must be called after download (#916)
  gui/src/components/Taipy/FileDownload.spec.tsx
  gui/src/components/Taipy/FileDownload.tsx
  gui/src/components/Taipy/GuiDownload.spec.tsx
  gui/src/components/Taipy/GuiDownload.tsx
  gui/src/utils/downloads.ts
  src/taipy/gui/gui.py
  tests/taipy/gui/actions/test_download.py
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction, 📝Release Notes

#926 before download callback when content is None (#925)
  gui/package-lock.json
  gui/package.json
  gui/src/components/Taipy/FileDownload.spec.tsx
  gui/src/components/Taipy/FileDownload.tsx
  gui/src/components/Taipy/GuiDownload.spec.tsx
  gui/src/components/Taipy/GuiDownload.tsx
  gui/src/components/Taipy/TableFilter.spec.tsx
  gui/src/components/Taipy/TreeView.tsx
  gui/webpack.config.js
  src/taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, GUI: Front-End, ✨New feature, 📝Release Notes

#928 #927 set hover text on top for dropdown selector
  gui/src/components/Taipy/Selector.tsx
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction, 📝Release Notes

#930 Add a code sample for demonstrating the rebuild property
  doc/examples/charts/example-rebuild.py
Labels: 📄 Documentation, 📈 Improvement, 🟧 Priority: High

#934 add stack trace in debug mode (#933)
  src/taipy/gui/_warnings.py
  src/taipy/gui/config.py
  src/taipy/gui/data/content_accessor.py
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/json.py
  src/taipy/gui/utils/_adapter.py
  src/taipy/gui/utils/_evaluator.py
  src/taipy/gui/utils/date.py
  src/taipy/gui/utils/types.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End, 📝Release Notes

#935 Avoid chart flickering when updating data
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/Chart.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  src/taipy/gui/gui.py
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction, 📝Release Notes

#936 Fix timezone (#895, #923)
  gui/src/components/Taipy/DateSelector.spec.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/context/taipyReducers.ts
  gui/src/utils/hooks.ts
  gui/src/utils/index.spec.ts
  gui/src/utils/index.ts
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/json.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/date.py
  src/taipy/gui/utils/types.py
  tests/taipy/gui/e2e/test_timezone.py
  tests/taipy/gui/utils/test_types.py
Labels: 💥Malfunction, 📝Release Notes

#940 on_action can be a function (#939)
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End, 📝Release Notes
