Repository Avaiga/taipy-gui, pull requests merged in 2023-05, with the labels that each got.

#744 #737 state.refresh
  src/taipy/gui/state.py
Labels: 📈 Improvement, Gui: Back-End, 🟨 Priority: Medium

#742 Notebook proxy (#619, #741)
  .coveragerc
  Pipfile
  pytest.ini
  setup.py
  src/taipy/gui/_default_config.py
  src/taipy/gui/config.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
  src/taipy/gui/server.py
  src/taipy/gui/utils/_runtime_manager.py
  src/taipy/gui/utils/proxy.py
  tests/taipy/gui/helpers.py
  tests/taipy/gui/notebook/simple_gui.ipynb
  tests/taipy/gui/notebook/test_notebook_simple_gui.py
Labels: 📈 Improvement, 🟧 Priority: High, 📝Release Notes

#749 custom holder variable name (#748)
  gui/package-lock.json
  gui/package.json
  gui/src/components/Taipy/DateSelector.spec.tsx
  src/taipy/gui/types.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High

#745 allow state to access correct page scopes at runtime (#595, #751)
  src/taipy/gui/state.py
  src/taipy/gui/utils/_locals_context.py
  tests/taipy/gui/e2e/page_scopes/assets3/__init__.py
  tests/taipy/gui/e2e/page_scopes/assets4/__init__.py
  tests/taipy/gui/e2e/page_scopes/assets4/page1.py
  tests/taipy/gui/e2e/page_scopes/test_page_scopes_state.py
  tests/taipy/gui/gui_specific/state_asset/page1.py
  tests/taipy/gui/gui_specific/test_run_thread.py
  tests/taipy/gui/gui_specific/test_state.py
Labels: 📈 Improvement, 📝Release Notes

#756 #755 table width default 100%
  gui/doc/viselements.json
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/factory.py
  tests/taipy/gui/control/test_table.py
Labels: Gui: Back-End, 💥Malfunction, 📝Release Notes

#761 Complement the status control documentation.
  gui/doc/status.md
  gui/doc/viselements.json
Labels: 📄 Documentation, Gui: Back-End

#760 chart dynamic layout property (#759)
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/factory.py
  src/taipy/gui/types.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/types.py
  tests/taipy/gui/control/test_chart.py
Labels: 📄 Documentation, 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟧 Priority: High, 📝Release Notes

#762 fix(selector): reposition label on top of the selector in list view
  gui/src/components/Taipy/Selector.tsx
  gui/src/themes/stylekit.ts
Labels: GUI: Front-End, 💥Malfunction

#763 #759 chart marker rebuild
  src/taipy/gui/gui.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High
