Repository Avaiga/taipy-gui, pull requests merged in 2023-11, with the labels that each got.

#1002 date range
  .github/workflows/prefix-test.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  .github/workflows/setuptools.yml
  .github/workflows/test.yml
  gui/dom/package.json
  gui/package-lock.json
  gui/package.json
  gui/packaging/package.json
  gui/src/components/Taipy/DateRange.spec.tsx
  gui/src/components/Taipy/DateRange.tsx
  gui/src/components/Taipy/DateSelector.spec.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/Slider.tsx
  gui/src/components/Taipy/index.ts
  gui/src/components/Taipy/utils.ts
  src/taipy/gui/_renderers/factory.py
  src/taipy/gui/types.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/types.py
  src/taipy/gui/version.json
  src/taipy/gui/viselements.json
  tests/taipy/gui/control/test_date.py
  tests/taipy/gui/control/test_date_range.py
Labels: 🟥 Priority: Critical, Gui: Back-End, GUI: Front-End, ✨New feature

#1007 remove node 18
  .github/workflows/test.yml
Labels: 🟥 Priority: Critical, 📈 Improvement, 🖰 GUI, 🖧 Devops

#1016 lov type for adapter & lov type is str (#1015)
  src/taipy/gui/_renderers/builder.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End, 📝Release Notes

#1017 support custom user content function
  src/taipy/gui/_renderers/builder.py
  src/taipy/gui/_renderers/factory.py
  src/taipy/gui/gui.py
  src/taipy/gui/types.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/_evaluator.py
  src/taipy/gui/utils/types.py
  src/taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#1020 file name to download (#433)
  gui/src/components/Taipy/FileDownload.spec.tsx
  gui/src/components/Taipy/FileDownload.tsx
  src/taipy/gui/data/content_accessor.py
  src/taipy/gui/gui.py
Labels: 🟥 Priority: Critical, Gui: Back-End, GUI: Front-End, 💥Malfunction, ✨New feature, 📝Release Notes

#1021 add text property: code (#764)
  gui/package-lock.json
  gui/package.json
  gui/public/stylekit/base/base.css
  gui/src/components/Taipy/Field.tsx
  src/taipy/gui/_renderers/factory.py
  src/taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End, GUI: Front-End, 💥Malfunction, 📝Release Notes

#1024 force value refresh on first render (for taipy #498)
  gui/packaging/taipy-gui.d.ts
  gui/src/context/taipyReducers.ts
  gui/src/utils/hooks.ts
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End, 📝Release Notes

#1023 partial gui builder
  src/taipy/gui/partial.py
Labels: 📈 Improvement, Gui: Back-End, 📝Release Notes

#1031 Table row selection (#503)
  frontend/taipy-gui/src/components/Taipy/AutoLoadingTable.tsx
  frontend/taipy-gui/src/components/Taipy/PaginatedTable.tsx
  frontend/taipy-gui/src/components/Taipy/tableUtils.tsx
Labels: 📈 Improvement, GUI: Front-End, 🟧 Priority: High, 📝Release Notes
