Repository Avaiga/taipy-gui, pull requests merged in 2023-10, with the labels that each got.

#938 date format fix (#909)
  src/taipy/gui/renderers/factory.py
Labels: 💥Malfunction, 🟩 Priority: Low, 📝Release Notes

#944 fix default width for layout children
  gui/public/stylekit/blocks/layout.css
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction

#943 Align with doc on file_download control
  doc/examples/charts/advanced-shapes.py
  doc/examples/charts/candlestick-simple.py
  doc/examples/charts/continuous-error-simple.py
  doc/examples/charts/example-rebuild.py
  doc/examples/controls/file_download-dynamic-temp-file.py
  doc/examples/controls/file_download-dynamic.py
  src/taipy/gui/gui_actions.py
  src/taipy/gui/viselements.json
Labels: 📄 Documentation, 📈 Improvement, Gui: Back-End, 🟧 Priority: High

#946 Fix Gui Builder reload issue (#945)
  src/taipy/gui/_renderers/_class_api/element_api.py
Labels: 🟥 Priority: Critical, 💥Malfunction, 📝Release Notes

#947 Simplify and unify on_action signature
  src/taipy/gui/_renderers/__init__.py
  src/taipy/gui/_renderers/builder.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
  src/taipy/gui/viselements.json
  tests/taipy/gui/server/ws/test_a.py
Labels: 📄 Documentation, 📈 Improvement, Gui: Back-End, 🟧 Priority: High, 📝Release Notes

#949 Handle Search Parameters (#948)
  gui/src/components/Router.tsx
  gui/src/components/Taipy/Navigate.tsx
  gui/src/components/pages/TaipyRendered.tsx
  gui/src/context/taipyReducers.ts
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
Labels: 📈 Improvement, 🟨 Priority: Medium, 📝Release Notes

#914 add invoke shared callback (#896)
  doc/examples/broadcast.py
  src/taipy/gui/__init__.py
  src/taipy/gui/data/data_scope.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
  src/taipy/gui/state.py
  src/taipy/gui/utils/_bindings.py
  tests/taipy/gui/gui_specific/test_state.py
  tests/taipy/gui/server/ws/test_broadcast.py
Labels: 🟧 Priority: High, ✨New feature, 📝Release Notes

#952 Handle Import all page scopes (#908)
  src/taipy/gui/utils/_variable_directory.py
Labels: 📈 Improvement, 🟧 Priority: High, 📝Release Notes

#960 navbar default property
  gui/package-lock.json
  gui/src/components/Taipy/Selector.spec.tsx
  src/taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📄 Documentation, 🖰 GUI, 💥Malfunction

#964 align on_action like parameters (#963)
  src/taipy/gui/viselements.json
Labels: 🟥 Priority: Critical, 📄 Documentation, 🖰 GUI, 📝Release Notes

#965 #919 pie chart select
  gui/src/components/Taipy/Chart.tsx
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction, 📝Release Notes

#972 Hide TaipyGuiWarning
  doc/extension/example_library/example_library.py
  doc/extension/main.py
  src/taipy/gui/_warnings.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
Labels: 📄 Documentation, 💥Malfunction, 🟧 Priority: High

#970 allow optional lov_value property (for taipy)
  .coveragerc
  src/taipy/gui/_renderers/builder.py
  src/taipy/gui/gui.py
  tests/taipy/gui/extension/test_library.py
  tests/taipy/gui/gui_specific/test_gui.py
  tests/taipy/gui/gui_specific/test_shared.py
Labels: 🟥 Priority: Critical, 📈 Improvement, Gui: Back-End

#974 Cursor on table (non edit mode)
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/tableUtils.tsx
Labels: 🟥 Priority: Critical, GUI: Front-End, 💥Malfunction

#978 Pre render pages
  src/taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 📈 Improvement

#977 Refactor Builder API before documentation
  doc/examples/broadcast.py
  doc/examples/charts/advanced-selection.py
  doc/examples/charts/bar-facing.py
  doc/examples/charts/bar-multiple.py
  doc/examples/charts/bar-simple.py
  doc/examples/charts/bar-stacked.py
  doc/examples/charts/basics-timeline.py
  doc/examples/charts/candlestick-simple.py
  doc/examples/charts/candlestick-styling.py
  doc/examples/charts/candlestick-timeseries.py
  doc/examples/charts/continuous-error-multiple.py
  doc/examples/charts/continuous-error-simple.py
  doc/examples/charts/error-bars-asymmetric.py
  doc/examples/charts/error-bars-simple.py
  doc/examples/charts/gantt-simple.py
  doc/examples/charts/heatmap-drawing-on-top.py
  doc/examples/charts/heatmap-unequal-cell-sizes.py
  doc/examples/charts/histogram-cumulative.py
  doc/examples/charts/histogram-horizontal.py
  doc/examples/charts/histogram-nbins.py
  doc/examples/charts/histogram-normalized.py
  doc/examples/charts/histogram-overlay.py
  doc/examples/charts/histogram-simple.py
  doc/examples/charts/histogram-stacked.py
  doc/examples/charts/line-style.py
  doc/examples/charts/line-texts.py
  doc/examples/charts/map-bubbles.py
  doc/examples/charts/polar-area.py
  doc/examples/charts/polar-multiple.py
  doc/examples/charts/polar-simple.py
  doc/examples/charts/polar-tick-texts.py
  doc/examples/charts/scatter-classification.py
  doc/examples/charts/scatter-regression.py
  doc/examples/charts/scatter-styling.py
  doc/examples/controls/file_download-dynamic-temp-file.py
  doc/examples/controls/file_download-dynamic.py
  doc/examples/controls/slider-date-range.py
  doc/extension/example_library/example_library.py
  doc/extension/main.py
  src/taipy/gui/__init__.py
  src/taipy/gui/_renderers/__init__.py
  src/taipy/gui/_renderers/_class_api/__init__.py
  src/taipy/gui/builder/__init__.py
  src/taipy/gui/builder/_api_generator.py
  src/taipy/gui/builder/_context_manager.py
  src/taipy/gui/builder/_element.py
  src/taipy/gui/builder/_factory.py
  src/taipy/gui/builder/page.py
  src/taipy/gui/gui.py
  src/taipy/gui/page.py
  src/taipy/gui/viselements.json
  tests/taipy/gui/config/test_cli.py
  tests/taipy/gui/extension/test_library.py
  tests/taipy/gui/gui_specific/test_gui.py
  tests/taipy/gui/gui_specific/test_shared.py
  tests/taipy/gui/server/http/test_extension.py
  tools/builder/block.txt
  tools/builder/control.txt
  tools/generate_pyi.py
Labels: 🟥 Priority: Critical, 📄 Documentation, 📈 Improvement, Gui: Back-End

#983 Initialize client id if need before anything else (#976)
  .github/workflows/publish.yml
  .github/workflows/release-dev.yml
  .github/workflows/release.yml
  gui/src/context/taipyReducers.ts
  src/taipy/gui/gui.py
  src/taipy/gui/server.py
  src/taipy/gui/utils/_bindings.py
Labels: 🟥 Priority: Critical, Gui: Back-End, 💥Malfunction, 📝Release Notes

#986 Fix State accessible variable list in notebook
  src/taipy/gui/gui.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#988 Doc for html() builder class
  src/taipy/gui/builder/_element.py
  src/taipy/gui/gui.py
  tests/taipy/gui/builder/control/test_html.py
Labels: 🟥 Priority: Critical, 📄 Documentation, 📈 Improvement, Gui: Back-End

#991 Minor fixes
  src/taipy/gui/gui.py
  src/taipy/gui/server.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/is_port_open.py
  src/taipy/gui/utils/proxy.py
Labels: 📈 Improvement

#1000 handle libraries (other than taipy) in HTML renderer
  src/taipy/gui/_renderers/_html/factory.py
  src/taipy/gui/_renderers/_html/parser.py
  tests/taipy/gui/extension/test_library.py
Labels: 🟥 Priority: Critical, Gui: Back-End, 💥Malfunction, 📝Release Notes
