Repository Avaiga/taipy-gui, pull requests merged in 2023-01, with the labels that each got.

#555 #549 shorter syntax for indexed properties
  gui/doc/chart.md
  src/taipy/gui/renderers/builder.py
  tests/taipy/gui/control/test_chart.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High

#542 New chart landing page
  gui/doc/chart.md
  gui/doc/layout.md
Labels: 📄 Documentation, 📈 Improvement

#561 table header center (#560)
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  src/taipy/gui/data/array_dict_data_accessor.py
  src/taipy/gui/renderers/builder.py
  tests/taipy/gui/data/test_array_dict_data_accessor.py
Labels: Gui: Back-End, GUI: Front-End, 💥Malfunction, 🟩 Priority: Low

#566 Refine charts landing page
  gui/doc/chart.md
  gui/src/components/Taipy/Chart.tsx
Labels: 📄 Documentation, GUI: Front-End

#569 chart name array (#567)
  src/taipy/gui/renderers/builder.py
Labels: Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#570 Align chart sub-types no matter their names
  gui/doc/chart.md
Labels: 📄 Documentation, 📈 Improvement

#571 #441 Decimator as indexed property
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/factory.py
  tests/taipy/gui/conftest.py
  tests/taipy/gui/data/test_pandas_data_accessor.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟩 Priority: Low

#575 #574 manage numpy and other types
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/Field.spec.tsx
  gui/src/utils/index.spec.ts
  gui/src/utils/index.ts
  src/taipy/gui/gui_actions.py
  src/taipy/gui/utils/datatype.py
Labels: Gui: Back-End, GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#577 #576 multiple file-selector
  gui/src/components/Taipy/FileSelector.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟩 Priority: Low

#580 Chart: Selection (#578)
  gui/doc/viselements.json
  gui/src/components/Taipy/Chart.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟩 Priority: Low

#584 #579 limit on_range_change calls
  gui/src/components/Taipy/Chart.tsx
Labels: GUI: Front-End, 💥Malfunction

#587 Clarify documentation for chart properties (#556)
  gui/doc/chart.md
  gui/doc/viselements.json
Labels: 📄 Documentation, 📈 Improvement

#590 bug/#127-ensure-all-init-files-are-the-same
  src/taipy/__init__.py
Labels: 🟥 Priority: Critical, 💥Malfunction

#591 #581 dismiss notification
  gui/doc/viselements.json
  gui/package-lock.json
  gui/src/components/Taipy/Alert.tsx
  gui/src/components/Taipy/Navigate.tsx
  gui/src/components/pages/TaipyRendered.tsx
  gui/src/context/taipyReducers.ts
  src/taipy/gui/gui.py
  tests/taipy/gui/gui_specific/test_navigate.py
Labels: 📄 Documentation, Gui: Back-End, GUI: Front-End, 💥Malfunction, 🟩 Priority: Low

#594 bug/fix_typo_in_release_github_action
  .github/workflows/release.yml
Labels: 🖧 Devops
