Repository Avaiga/taipy-gui, pull requests merged in 2023-06, with the labels that each got.

#765 Better document for the table control.
  gui/doc/table.md
  gui/doc/viselements.json
  tests/taipy/gui/cli/test_cli.py
Labels: 📄 Documentation, Gui: Back-End

#770 set theme class to body (#766)
  gui/src/components/Router.tsx
  gui/src/components/Taipy/Chart.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#773 #772 library property check
  src/taipy/gui/extension/library.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#775 force navigate (#747)
  gui/src/components/Router.tsx
  gui/src/components/Taipy/Navigate.tsx
  gui/src/context/taipyReducers.ts
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
  src/taipy/gui/gui_actions.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟧 Priority: High, 📝Release Notes

#779 Reorganize visual elements doc (moved to the taipy-doc repository)
  .gitignore
  MANIFEST.in
  gui/doc/README.md
  gui/doc/button.md
  gui/doc/chart.md
  gui/doc/date.md
  gui/doc/dialog.md
  gui/doc/expandable.md
  gui/doc/file_download.md
  gui/doc/file_selector.md
  gui/doc/image.md
  gui/doc/indicator.md
  gui/doc/input.md
  gui/doc/layout.md
  gui/doc/menu.md
  gui/doc/navbar.md
  gui/doc/number.md
  gui/doc/pane.md
  gui/doc/part.md
  gui/doc/selector.md
  gui/doc/slider.md
  gui/doc/status.md
  gui/doc/table.md
  gui/doc/text.md
  gui/doc/toggle.md
  gui/doc/tree.md
  gui/webpack.config.js
  src/taipy/__init__.py
  src/taipy/gui/viselements.json
Labels: 📄 Documentation, 🖰 GUI

#778 Manage notifications as a queue (#777)
  gui/src/components/Router.tsx
  gui/src/components/Taipy/Alert.spec.tsx
  gui/src/components/Taipy/Alert.tsx
  gui/src/context/taipyReducers.spec.ts
  gui/src/context/taipyReducers.ts
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#783 Allows to build a local gitHub release
  .github/workflows/release-dev.yml
  src/taipy/gui/version.json
Labels: 🖰 GUI, 🖧 Devops, ✨New feature, 🟨 Priority: Medium

#786 part height is dynamic (#785)
  gui/src/components/Taipy/Part.tsx
  src/taipy/gui/renderers/factory.py
  src/taipy/gui/version.json
  src/taipy/gui/viselements.json
Labels: Gui: Back-End, GUI: Front-End, 💥Malfunction, 🟧 Priority: High, 📝Release Notes

#795 fix typing of add_pages()
  .flake8
  .pre-commit-config.yaml
  src/taipy/gui/gui.py
  src/taipy/gui/types.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#800 table's data property is dynamic
  src/taipy/gui/viselements.json
Labels: 📄 Documentation, Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#799 Table's data and editable[] properties are dynamic.
  src/taipy/gui/viselements.json
Labels: 📄 Documentation, Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#805 default value of default property when type needs a holder (#804)
  src/taipy/gui/renderers/builder.py
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#806 Backport: default value of default property (when type needs holder) (#804)
  gui/dom/package.json
  gui/package.json
  gui/packaging/package.json
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/version.json
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#803 Missing return type warning in doc generation
  src/taipy/gui/_gui_section.py
Labels: 📄 Documentation, Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#809 Type information
  src/taipy/gui/_gui_section.py
Labels: 📄 Documentation, Gui: Back-End, 💥Malfunction, 🟩 Priority: Low

#810 Several minor changes to the doc:
  .gitignore
  INSTALLATION.md
  README.md
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/__init__.py
  src/taipy/gui/_gui_cli.py
  src/taipy/gui/data/data_scope.py
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
  src/taipy/gui/page.py
Labels: 📄 Documentation

#811 Several minor changes to the doc
  .gitignore
  INSTALLATION.md
  README.md
  gui/src/components/Taipy/Chart.tsx
  src/taipy/gui/__init__.py
  src/taipy/gui/_gui_cli.py
  src/taipy/gui/data/data_scope.py
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui_actions.py
  src/taipy/gui/page.py
Labels: 📄 Documentation

#812 update version to 3.0.0
  gui/dom/package.json
  gui/package.json
  gui/packaging/package.json
  src/taipy/gui/version.json
Labels: 🟥 Priority: Critical, 🖰 GUI

#813 Tiny fixes.
  src/taipy/gui/gui_actions.py
  src/taipy/gui/utils/proxy.py
Labels: 📄 Documentation, 🟨 Priority: Medium

#814 Tiny fixes.
  src/taipy/gui/gui_actions.py
  src/taipy/gui/utils/proxy.py
Labels: 📄 Documentation, 💥Malfunction, 🟨 Priority: Medium

#817 Pandas may be 2.0 or newer
  Pipfile
  setup.py
Labels: 🖧 Devops, 💥Malfunction, 🟨 Priority: Medium
