Repository Avaiga/taipy-gui, pull requests merged in 2023-04, with the labels that each got.

#705 react property update (#704)
  src/taipy/gui/renderers/builder.py
Labels: 📈 Improvement, Gui: Back-End

#697 propagate changes on shared file.
  CONTRIBUTING.md
Labels: 📄 Documentation

#700 Documentation for the Stylekit (part 1)
  doc/extension/example_library/front-end/tsconfig.json
  gui/doc/button.md
  gui/doc/chart.md
  gui/doc/date.md
  gui/doc/dialog.md
  gui/doc/expandable.md
  gui/doc/file_download.md
  gui/doc/file_selector.md
  gui/doc/image.md
  gui/doc/indicator.md
  gui/doc/input.md
  gui/doc/layout.md
  gui/doc/menu.md
  gui/doc/navbar.md
  gui/doc/number.md
  gui/doc/pane.md
  gui/doc/part.md
  gui/doc/selector.md
  gui/doc/slider.md
  gui/doc/status.md
  gui/doc/table.md
  gui/doc/text.md
  gui/doc/toggle.md
  gui/doc/tree.md
  gui/public/stylekit/base/typography.css
  gui/public/stylekit/blocks/layout.css
  gui/public/stylekit/controls/chart.css
  gui/public/stylekit/controls/table.css
  gui/public/stylekit/utilities/colors.css
  gui/public/stylekit/utilities/spacing.css
  gui/public/stylekit/utilities/typography.css
  gui/src/utils/index.ts
  src/taipy/gui/_default_config.py
  src/taipy/gui/config.py
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
Labels: 🟥 Priority: Critical, 📄 Documentation, Gui: Back-End, ✨New feature, 📝Release Notes

#710 Feature/#699 add root margin variable
  gui/public/stylekit/base/base.css
  gui/src/utils/index.ts
  src/taipy/gui/_default_config.py
  src/taipy/gui/config.py
Labels: 🟥 Priority: Critical, 📈 Improvement, GUI: Front-End

#689 Enhance Markdown Parsing For Invalid Control (#628)
  src/taipy/gui/renderers/_markdown/preproc.py
  src/taipy/gui/renderers/factory.py
  tests/taipy/gui/renderers/test_md_parsing.py
Labels: 📈 Improvement, Gui: Back-End

#677 feat(stylekit): add a common default padding to CSS components
  gui/public/stylekit/elements/card.css
  gui/public/stylekit/elements/container.css
  gui/public/stylekit/elements/header.css
  gui/public/stylekit/elements/sidebar.css
  gui/public/stylekit/stylekit.css
  gui/public/stylekit/variables/elements.css
Labels: 📈 Improvement, GUI: Front-End

#713 Stylekit: rename chart modifier "svg-bg" class into "has-background" for clarity
  gui/public/stylekit/controls/chart.css
Labels: 📈 Improvement, GUI: Front-End

#712 Stylekit: subtract root-margin from the sidebar height
  gui/public/stylekit/elements/sidebar.css
Labels: 📈 Improvement, GUI: Front-End

#709 export React Dialog (#708)
  gui/package-lock.json
  gui/package.json
  gui/packaging/taipy-gui.d.ts
  gui/src/components/Router.tsx
  gui/src/components/Taipy/DateSelector.spec.tsx
  gui/src/components/Taipy/Dialog.tsx
  gui/src/components/Taipy/TableFilter.spec.tsx
  gui/src/components/Taipy/index.ts
  gui/src/components/pages/MainPage.tsx
  gui/src/extensions/exports.ts
  src/taipy/gui/gui.py
  tests/taipy/gui/gui_specific/test_render_route.py
Labels: 📈 Improvement, GUI: Front-End, 🟧 Priority: High

#720 broken partial in part (#719)
  gui/src/components/Taipy/Part.tsx
  src/taipy/gui/renderers/builder.py
Labels: 🖰 GUI, 💥Malfunction, 🟧 Priority: High

#723 fix(stylekit): add max-width: 100% on taipy-table
  gui/public/stylekit/controls/table.css
Labels: 📈 Improvement, GUI: Front-End

#724 fix(stylekit): use a minHeight on inputs instead of a solid height.
  gui/src/themes/stylekit.ts
Labels: GUI: Front-End, 💥Malfunction

#726 extension context binding (#725)
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/state.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High, 📝Release Notes

#727 broadcast var name (#725)
  src/taipy/gui/renderers/builder.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High

#732 extension with LoV (#731)
  src/taipy/gui/_gui_section.py
  src/taipy/gui/_warnings.py
  src/taipy/gui/config.py
  src/taipy/gui/data/content_accessor.py
  src/taipy/gui/data/data_accessor.py
  src/taipy/gui/data/data_scope.py
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/data/utils.py
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
  src/taipy/gui/gui.pyi
  src/taipy/gui/gui_actions.py
  src/taipy/gui/partial.py
  src/taipy/gui/renderers/_html/parser.py
  src/taipy/gui/renderers/_markdown/preproc.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/json.py
  src/taipy/gui/renderers/utils.py
  src/taipy/gui/types.py
  src/taipy/gui/utils/_adapter.py
  src/taipy/gui/utils/_evaluator.py
  src/taipy/gui/utils/chart_config_builder.py
  src/taipy/gui/utils/date.py
  src/taipy/gui/utils/is_debugging.py
  src/taipy/gui/utils/table_col_builder.py
  src/taipy/gui/utils/types.py
  tests/taipy/gui/conftest.py
  tests/taipy/gui/gui_specific/test_navigate.py
  tests/taipy/gui/helpers.py
  tests/taipy/gui/utils/test_evaluator.py
  tests/taipy/gui/utils/test_types.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High, 📝Release Notes
