Repository Avaiga/taipy-gui, pull requests merged in 2023-03, with the labels that each got.

#637 #631 base image
  gui/packaging/taipy-gui.d.ts
  gui/src/components/Taipy/Dialog.tsx
  gui/src/components/Taipy/Image.spec.tsx
  gui/src/components/Taipy/Image.tsx
  gui/src/components/Taipy/Indicator.tsx
  gui/src/components/Taipy/Menu.tsx
  gui/src/components/Taipy/Selector.tsx
  gui/src/components/Taipy/lovUtils.tsx
  gui/src/utils/icon.tsx
  src/taipy/gui/data/content_accessor.py
  src/taipy/gui/icon.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End

#641 include webapp/stylekit in package (#639)
  MANIFEST.in
Labels: Gui: Back-End, 💥Malfunction, 🟧 Priority: High

#644 Handle svg with size (#642)
  gui/src/components/Taipy/Image.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#643 fix update dataframe (#640)
  src/taipy/gui/gui.py
Labels: 🟥 Priority: Critical, Gui: Back-End, 💥Malfunction

#635 Extension example update in doc.
  CONTRIBUTING.md
  INSTALLATION.md
  doc/extension/.gitignore
  doc/extension/MANIFEST.in
  doc/extension/README.md
  doc/extension/demo.py
  doc/extension/example_library/__init__.py
  doc/extension/example_library/example_library.py
  doc/extension/example_library/front-end/.gitignore
  doc/extension/example_library/front-end/package.json
  doc/extension/example_library/front-end/scripts/install.js
  doc/extension/example_library/front-end/src/ColoredLabel.tsx
  doc/extension/example_library/front-end/src/index.ts
  doc/extension/example_library/front-end/tsconfig.json
  doc/extension/example_library/front-end/webpack.config.js
  doc/extension/find_taipy_gui_dir.py
  doc/extension/main.py
  doc/extension/my_custom_lib/__init__.py
  doc/extension/my_custom_lib/my_library.py
  doc/extension/my_custom_lib/webui/package.json
  doc/extension/my_custom_lib/webui/src/SimpleLabel.tsx
  doc/extension/my_custom_lib/webui/src/index.ts
  doc/extension/my_custom_lib/webui/webpack.config.js
  doc/extension/pyproject.toml
  doc/extension/setup.py
  gui/extension-index.md
  gui/src/context/taipyReducers.ts
  src/taipy/gui/data/pandas_data_accessor.py
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/factory.py
  src/taipy/gui/server.py
  tests/taipy/gui/gui_specific/test_navigate.py
  tests/taipy/gui/server/ws/test_a.py
  tests/taipy/gui/server/ws/test_df.py
  tests/taipy/gui/server/ws/test_du.py
  tests/taipy/gui/server/ws/test_ru.py
  tests/taipy/gui/server/ws/test_u.py
Labels: 📄 Documentation, 🖰 GUI

#648 rebuild chart (#443)
  gui/doc/viselements.json
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/Chart.spec.tsx
  gui/src/components/Taipy/Chart.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/tableUtils.tsx
  gui/src/utils/hooks.ts
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/utils.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/chart_config_builder.py
  src/taipy/gui/utils/clientvarname.py
  src/taipy/gui/utils/table_col_builder.py
  tests/taipy/gui/control/test_table.py
Labels: 📈 Improvement, Gui: Back-End, GUI: Front-End, 🟧 Priority: High

#652 update mui date picker to 6.0 (#653)
  gui/package-lock.json
  gui/package.json
  gui/src/components/Taipy/Alert.spec.tsx
  gui/src/components/Taipy/DateSelector.spec.tsx
  gui/src/components/Taipy/DateSelector.tsx
  gui/src/components/Taipy/TableFilter.spec.tsx
  gui/src/components/Taipy/TableFilter.tsx
  gui/src/utils/index.ts
Labels: 📈 Improvement, GUI: Front-End, 🟧 Priority: High

#655 #633 classname on top level element
  gui/package-lock.json
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/AutoLoadingTable.tsx
  gui/src/components/Taipy/NavBar.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/PaginatedTable.tsx
  gui/src/components/Taipy/Selector.tsx
  gui/src/components/Taipy/TableFilter.tsx
  tests/taipy/gui/e2e/with_action/test_selector_action.py
Labels: 📈 Improvement, GUI: Front-End, 🟨 Priority: Medium

#656 chart refresh (#612)
  gui/src/components/Taipy/Chart.spec.tsx
  gui/src/components/Taipy/Chart.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#657 #612 Backport chart refresh
  gui/src/components/Taipy/Chart.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#661 #647 make class_name the default property for part
  gui/doc/viselements.json
  src/taipy/gui/renderers/builder.py
  src/taipy/gui/renderers/factory.py
Labels: 📈 Improvement, Gui: Back-End, 🟨 Priority: Medium

#662 part class name default property (#647)
  src/taipy/gui/renderers/_markdown/preproc.py
  tests/taipy/gui/renderers/test_md_parsing.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High

#664 fix(stylekit): apply CSS vars to root selector
  gui/public/index.html
Labels: GUI: Front-End

#659 feat(stylekit): improve default color theme
  src/taipy/gui/_default_config.py
Labels: GUI: Front-End

#665 fix(stylekit): get rid of unneeded image styles
  gui/public/stylekit/controls/image.css
  gui/src/components/Taipy/Image.tsx
Labels: GUI: Front-End

#670 reset applied filters (#667)
  gui/src/components/Taipy/TableFilter.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#675 #667 reset filters
  gui/src/components/Taipy/TableFilter.tsx
Labels: GUI: Front-End, 💥Malfunction, 🟧 Priority: High

#676 #627 libraries status
  src/taipy/gui/gui.py
Labels: Gui: Back-End, ✨New feature, 🟩 Priority: Low

#679 Handle element library context
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
Labels: 📈 Improvement, Gui: Back-End, 🟧 Priority: High

#681 Broadcasting value updates
  gui/packaging/taipy-gui.d.ts
  gui/src/components/Taipy/AutoLoadingTable.spec.tsx
  gui/src/components/Taipy/Chart.spec.tsx
  gui/src/components/Taipy/PaginatedTable.spec.tsx
  gui/src/components/Taipy/Part.spec.tsx
  gui/src/components/Taipy/Slider.spec.tsx
  gui/src/components/Taipy/TreeView.spec.tsx
  gui/src/context/taipyReducers.spec.ts
  gui/src/context/taipyReducers.ts
  gui/src/extensions/exports.ts
  src/taipy/gui/extension/library.py
  src/taipy/gui/gui.py
  src/taipy/gui/renderers/factory.py
  src/taipy/gui/types.py
  src/taipy/gui/utils/__init__.py
  src/taipy/gui/utils/_evaluator.py
  src/taipy/gui/utils/clientvarname.py
  tests/taipy/gui/extension/test_library.py
  tests/taipy/gui/helpers.py
  tests/taipy/gui/server/http/test_extension.py
  tests/taipy/gui/server/http/test_user_content.py
  tests/taipy/gui/server/ws/test_broadcast.py
Labels: Gui: Back-End, GUI: Front-End, 🟧 Priority: High, ✨New feature
